/* work sans style from google sans  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@400;500;600;700&family=Sen:wght@400;700;800&display=swap');
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sen', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.color-primary{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
}
.color-secondary{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* header style start  */
.header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    color: #424242;
    text-decoration: none;
}
.title, .fact-title, .sponsor-title, .feature-title{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-description, .sponsor-description, .feature-description{
    color: var(--dark-03, #727272);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 35px;

}
.banner-pic{
    width: 100%;
    margin-top: 20px;
    padding-top: 40px;
}

/* header style finish  */

/* feature style start  */
.features{
    margin: 130px;
    display: flex;
    justify-content:space-around;
    gap: 140px;
}
.title-card{
    color: var(--dark-01, #131313);
    font-size: 20px;
    font-weight: 600;
}
.description-card{
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
}
.feature-content .card{
    padding: 30px;
    margin-bottom: 15px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: white;
    width: 342px;
    height: 110px;
    flex-shrink: 0;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 100px;
}
.feature-img{
    height: 90%;
    margin-left: 50px;
}

.ten-years-badge h3{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}
.ten-years-badge p{
    font-size: 25px; 
}
.feature .feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px; 
}


/* teams section style start  */
.teams-container{
    display: flex;
    align-items:center ;
    padding-top: 80px;
}
.teams-img-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-ex-content, .fact-card-container{
    padding-right: 25px;
    padding-left: 25px;
}
.teams-title{
    color: var(--dark-03, #727272);
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 24px;
}
.teams-description, .fact-description{
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 32px;
}

/* facts style start  */
.fact-card-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
}
.fact-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.fact-card-container .card-stats{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.fact-card-container .card-title{
    color: #424242;
    font-size: 20px;
    font-weight: 600;
}

/* sponsor style start  */
.sponsors{
    text-align: center;
}
.sponsor-img{
    justify-content: space-evenly;
    margin-top: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
}
.sponsor-img img{
    width: 160px;
    height: 55px;
}
.footer{
    border-radius: 8px;
    background: #FFF4E7;
    width: 1440px;
    height: 100px;
    margin: 30px 240px 216px;
}
.footer-details{
    color: var(--dark-02, #424242);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    padding: 38px 410px;
}



/* responsive media queries  */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .fact-card-container,
    .sponsor-img
    {
        flex-direction: column;
    }
    .teams-img-content{
        grid-template-columns: 1fr;
    }
    .teams-ex-content{
        padding-left: 15px;
        padding-right: 15px;
    }
    
}
@media screen and (min-width:576px) and (max-width:960px) { 
    header{
        padding: 50px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    } 
}